.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.5rem * calc(1 - 0));
  margin-bottom: calc(0.5rem * 0);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.change-theme-button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
}

.dark {
  color: white;
  background: black;
}

.light {
  color: black;
  background: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
