.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.change-theme-button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
}

.dark {
  color: white;
  background: black;
}

.light {
  color: black;
  background: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
